#BIGRACC {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #282828;
}

html,body {
    height: 100%;
    overflow-y: hidden;
}